*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 50px;
}
.board{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 634px;
    width: 634px;
    border: 2px solid black;
}
img{
    height: 70px;
    width: 70px;
}
.boxes{
    height: 78.75px;
    width: 78.75px;
    border: black solid .25px;
    background-color: antiquewhite;
}
.brown{
    background-color: #8f5100;
}